<div class="col-md-12">
    <a ui-sref="queries.add" class="btn btn-default top-buffer">Add query</a>
    <div ui-view="queries_add_view"></div>
    <table class="table">
        <tr ng-repeat="q in Queries">
            <td>
                <a ui-sref="queries.update({queryId: q.ID})" class="btn btn-default">Update query</a>
                <a ui-sref="queries.delete({queryId: q.ID})" class="btn btn-danger">Delete query</a>
            </td>
            <td ng-if="q.Title">{{ q.Title }}</td>
            <td ng-if="!q.Title">Noname</td>

            <td><a ui-sref="items({queryId: q.ID})">Результаты выдачи</a></td>
            <td><a target="_blank" href="{{ q.URL }}">Перейти по запросу <span class="glyphicon glyphicon-share-alt"></span></a></td>
        </tr>
    </table>
</div>
